<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="bl" transaction-type="RESOURCE_LOCAL">

        <class>com.ragenotes.blacklist.entity.entries.BlackListEntry</class>
        <class>com.ragenotes.blacklist.entity.entries.PlayerIP</class>
        <class>com.ragenotes.blacklist.entity.entries.History</class>
        <class>com.ragenotes.blacklist.entity.profiles.AcceptorProfile</class>
        <class>com.ragenotes.blacklist.entity.profiles.ReviewerProfile</class>
        <class>com.ragenotes.blacklist.entity.profiles.VoterProfile</class>
        <class>com.ragenotes.blacklist.entity.Contact</class>
        <class>com.ragenotes.blacklist.entity.Review</class>
        <class>com.ragenotes.blacklist.entity.ExtUser</class>
        <class>com.ragenotes.blacklist.entity.ExportConsumer</class>
        <class>com.ragenotes.blacklist.entity.ExportParam</class>
    </persistence-unit>
</persistence>
